@font-face {
  font-family: GT-America;
  src: url(/assets/fonts/GT-America-Condensed-Regular.woff) format("woff"),
    url(/assets/fonts/GT-America-Condensed-Regular.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: GT-America;
  src: url(/assets/fonts/GT-America-Compressed-Bold.woff) format("woff"),
    url(/assets/fonts/GT-America-Compressed-Bold.woff2) format("woff2");
  font-weight: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ol,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  height: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --cabecera-altura-ext: 6rem;
  --cabecera-clr-fondo: rgba(255, 255, 255, 1);
  --clr-fondo: #fff;
  --clr-texto-100: #f0f1f2;
  --clr-texto-200: #c0c1c2;
  --clr-texto-300: #717273;
  --clr-texto-400: #424344;
  --clr-texto-600: #212223;
  --clr-texto-800: #000;
  --clr-primario: #212223;
  --clr-secundario: #212223;
  --clr-accent: #008b91;
  --fs--2: clamp(1.1rem, 1.8vw, 1.2rem);
  --fs--1: clamp(1.15rem, 1.9vw, 1.3rem);
  --fs-0: clamp(1.2rem, 2vw, 1.4rem);
  --fs-1: clamp(1.3rem, 3vw, 1.8rem);
  --fs-2: clamp(1.4rem, 5vw, 3rem);
  --fs-3: clamp(1.5rem, 6vw, 4rem);
  --fs-4: clamp(2rem, 8vw, 6rem);
  --fs-5: clamp(3rem, 15vw, 12rem);
}

/*** Definiciones generales ***/

a,
a:not([class]) {
  color: var(--clr-primario);
  text-decoration: none;
  transition: opacity 300ms ease-in-out;
}
a:hover:not([class]),
a:focus:not([class]) {
  opacity: 0.7;
}
.fs1,
.fs2,
.fs3,
.fs4,
.fs5 {
  line-height: 1.2;
}
.fs5 {
  font-size: var(--fs-5);
  line-height: 0.9;
  margin-bottom: 0.4em;
}
.fs4 {
  font-size: var(--fs-4);
  line-height: 0.9;
  margin-bottom: 0.5em;
}
.fs3 {
  font-size: var(--fs-3);
  line-height: 1;
  margin-bottom: 0.5em;
}
.fs2 {
  font-size: var(--fs-2);
  margin-bottom: 0.5em;
}
.fs1 {
  font-size: var(--fs-1);
  margin-bottom: 0.5em;
}
p + *,
ul + *,
p + ul li + li {
  margin-top: 1em;
}
.contenedor {
  width: 100%;
  max-width: 90rem;
  padding: 0 max(1rem, 5vw);
  margin: 0 auto;
  position: relative;
}
.ajustar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}
.cubrir img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.oculto {
  display: none;
}
.sinoverflow {
  overflow: hidden;
}
.ancla {
  padding-top: calc(1 * var(--cabecera-altura-ext));
  margin-top: calc(-1 * var(--cabecera-altura-ext));
  position: absolute;
  top: 0;
}
body {
  color: var(--clr-texto-400);
  overflow-x: hidden;
  font-family: GT-America, sans-serif;
  font-size: var(--fs-0);
}
.cabecera {
  position: fixed;
  z-index: 100;
  background-color: var(--clr-fondo);
  width: 100%;
  height: var(--cabecera-altura-ext);
  box-shadow: 0 0 5px 0 var(--clr-texto-200);
}
.cabecera .contenedor {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: min(20rem, 60%);
  height: var(--cabecera-altura-ext);
  padding: calc(0.25 * var(--cabecera-altura-ext)) 0
    calc(0.25 * var(--cabecera-altura-ext));
  display: block;
  position: relative;
}
.logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top left;
  display: block;
}
.menuppal {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.menuppal .nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.menuppal .nav > li {
  margin-left: 1.5em;
  position: relative;
  padding: 1rem 0;
  line-height: 2;
}
.menuppal a {
  color: var(--clr-texto-400);
  text-decoration: none !important;
  position: relative;
  display: inline-block;
}
.menuppal li.nav-item-active > a {
  color: var(--clr-accent);
  position: relative;
}
.menuppal li.active > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--clr-texto-400);
  bottom: 0;
  left: 0;
}
.menuppal .nav ul {
  position: absolute;
  top: 3.5em;
  left: -1em;
  background-color: var(--clr-fondo);
  width: fit-content;
  list-style: none;
  padding: 0 1em;
  line-height: 1.8;
  font-size: 0.85em;
  white-space: nowrap;
  max-height: 0;
  overflow: hidden;
  transition: 300ms;
  box-shadow: 0 0 3px 0 var(--clr-texto-200);
}
.menuppal .nav > li:hover ul {
  max-height: 20em;
  padding: 1em;
}
.gris {
  background-color: var(--clr-texto-100);
  padding: 10vmin 0;
}
.gris.dark {
  background-color: #dbdbdb;
}
.flex {
  display: flex;
  gap: 1em;
  max-width: 100% !important;
  margin-top: 3em !important;
  flex-wrap: wrap;
}
.flex a {
  margin: 0 !important;
}

@media screen and (max-width: 60rem) {
  :root {
    --cabecera-altura-ext: 4rem;
  }
  .iconomenu {
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconomenu .linea {
    width: 100%;
    height: 0.25rem;
    background-color: var(--clr-texto-600);
    display: block;
    position: absolute;
    transition: transform 800ms ease-in-out;
  }
  .iconomenu .sup {
    transform: translateY(-250%);
  }
  .iconomenu .inf {
    transform: translateY(250%);
  }
  .menuppal .nav {
    position: absolute;
    right: -1rem;
    top: 2.5rem;
    width: max(50%, 20rem);
    overflow: hidden;
    background: var(--clr-fondo);
    z-index: 50;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 400ms ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .menuppal .nav li {
    padding: 0.5em;
    width: 100%;
    margin: 0;
  }
  .menuppal .nav li ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    max-height: 20rem;
    width: 100%;
    text-align: center;
    opacity: 1;
    padding: 0 !important;
    box-shadow: none;
    font-size: 0.8em;
    line-height: 1.2;
  }
  #mainmenu:checked ~ .iconomenu .sup {
    transform: rotate(135deg);
  }
  #mainmenu:checked ~ .iconomenu .centro {
    transform: rotate(315deg);
  }
  #mainmenu:checked ~ .iconomenu .inf {
    transform: rotate(-135deg);
  }
  #mainmenu:checked ~ .nav {
    transform: scaleY(1);
  }
}

main {
  padding-top: var(--cabecera-altura-ext);
}
.introhome {
  height: calc(100vh - var(--cabecera-altura-ext));
  height: calc((var(--vh, 1vh) * 100) - var(--cabecera-altura-ext));
  position: relative;
}
.videohome {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.imagencabecera {
  height: min(100vh - var(--cabecera-altura-ext), 56.25vw);
  position: relative;
}
.titulohome {
  height: 100%;
  position: relative;
  z-index: 5;
  display: grid;
  place-items: center;
  color: var(--clr-fondo);
  text-transform: uppercase;
  text-align: center;
}
.titulohome h1 span {
  display: block;
}
.linkhome {
  --size: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--size);
  aspect-ratio: 1;
  height: var(--size);
  border-radius: 50%;
  background-color: var(--clr-texto-800);
  margin: auto;
  display: grid;
  place-items: center;
  transform: rotate(90deg);
  transition: height 0.5s, bottom 0.5s;
}
.linkhome:hover {
  height: calc(1.4 * var(--size));
  bottom: calc(0.8 * var(--size));
}
.conocenos {
  padding: 12vmin 0;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - var(--cabecera-altura-ext));
  min-height: calc((var(--vh, 1vh) * 100) - var(--cabecera-altura-ext));
  display: grid;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--clr-fondo),
    var(--clr-texto-100)
  );
  isolation: isolate;
}
.marcaagua {
  position: absolute;
  top: -0.25em;
  left: -0.25em;
  z-index: -1;
  opacity: 0.2;
  font-weight: 700;
  color: var(--clr-texto-200);
  animation: marcaagua 60s infinite;
}
@keyframes marcaagua {
  50% {
    transform: scale(1.3) translate(0.25em, -0.15em);
  }
  75% {
    transform: scale(1.1) translate(-0.2em, 0.35em);
  }
}

.boton {
  font-size: 1.2;
  font-weight: bold;
  padding: 0.5em 4em 0.5em 2em;
  border: 3px solid var(--clr-accent);
  border-radius: 8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(10px);
  margin: 0.5em 0;
}
.boton::after {
  content: "";
  width: 2em;
  height: 100%;
  background-color: var(--clr-accent);
  background-image: url("/assets/images/flecha.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
  z-index: -1;
}
.boton:is(:hover, :focus) {
  opacity: 1;
  color: var(--clr-fondo);
}
.boton:is(:hover, :focus)::after {
  width: 100%;
  background-position: 85% 50%;
}
.boton.invertido {
  color: var(--clr-texto-100);
  border: 3px solid var(--clr-texto-100);
}
.boton.invertido::after {
  background-image: url("/assets/images/flecha_negra.svg");
  background-color: var(--clr-texto-100);
}
.boton.invertido:is(:hover, :focus) {
  color: var(--clr-texto-600);
}
.enlace_artistas {
  min-height: calc(100vh - var(--cabecera-altura-ext));
  min-height: calc((var(--vh, 1vh) * 100) - var(--cabecera-altura-ext));
  padding: 3rem 0;
  display: grid;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dasijlpgz/image/upload/v1671352465/web/fondo-artistas.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.enlace_artistas p {
  color: var(--clr-fondo);
  font-weight: 700;
  text-align: center;
  max-width: 80%;
  margin-inline: auto;
}
.articulo {
  padding-bottom: 10vmin;
}
.articulo .titulo {
  width: fit-content;
  color: var(--clr-fondo);
  margin: -1.5em 0 1em;
  text-shadow: 0.05em -0.1em 1rem var(--clr-texto-300);
}
.nosotros .contenido {
  font-size: var(--fs-1);
  max-width: 100%;
  margin-inline: auto;
}
.nosotros .contenido * + * {
  margin-top: 1em;
}
.nosotros .contenido h2 {
  background-color: var(--clr-accent);
  color: var(--clr-texto-100);
  padding: 0.7em 2.5rem;
  line-height: 1.2;
  border-radius: 0.5rem;
  font-size: var(--fs-2);
  text-wrap: balance;
}
.nosotros .contenido p {
  max-width: 50ch;
  margin-left: 2.5rem;
}
.artistas {
  padding: 5vmin 0;
}
.artista .barraizq {
  display: grid;
  gap: 1rem;
}
.artista .infoautor {
  background-color: var(--clr-primario);
  color: var(--clr-texto-100);
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 1rem;
  align-content: flex-start;
  font-size: var(--fs--1);
}
.artista .infoautor > div {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 1rem;
  align-items: center;
}
.artista .infoautor a {
  color: var(--clr-texto-100);
}
.artista .infoautor svg {
  fill: var(--clr-texto-200);
}
.artista .contenido {
  padding: 1.5rem 0;
  width: 100%;
  max-width: 70ch;
  margin-inline: auto;
}
.artista .contenido * + * {
  margin-top: 1em;
}
.listado {
  display: grid;
  gap: 2rem;
  --tiempo: 500ms;
}
.listado .elemento a {
  aspect-ratio: 16 / 9;
  display: block;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.listado .elemento a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-texto-600);
  opacity: 0.5;
  z-index: 1;
  transition: opacity var(--tiempo);
}
.listado .imglistado {
  filter: blur(0);
  transition: filter var(--tiempo), transform calc(var(--tiempo) * 2);
}
.listado .nombre {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  top: 75%;
  z-index: 2;
  color: var(--clr-fondo);
  margin: 0;
  text-align: center;
  font-size: var(--fs-1);
  transition: all var(--tiempo);
  padding: 0.5em;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.listado .elemento a:hover::after {
  opacity: 0;
}
.listado .elemento a:hover .imglistado {
  filter: blur(5px);
  transform: scale(1.2);
}
.listado .elemento a:hover .nombre {
  top: 0;
  font-size: calc(1.4 * var(--fs-1));
  background: rgba(0, 138, 144, 0.75);
}
.obra .contenedor {
  margin-block: 10vmin;
}
.galeria {
  position: relative;
  display: flex;
  gap: 1rem;
  margin-bottom: 10vmin;
  margin-inline: max(1rem, 5vw);
  overflow: scroll;
}
.elementogaleria {
  height: 50vmin;
  flex-shrink: 0;
}
.elementogaleria img {
  height: 100%;
  width: auto;
}
.pie {
  background-color: var(--clr-accent);
  color: var(--clr-texto-100);
  padding-block: 10vmin;
  overflow: hidden;
}
.pie a {
  color: var(--clr-texto-100);
}
.logopie svg {
  width: 100%;
  max-width: 20rem;
}
.logopie .str0 {
  stroke: var(--clr-accent);
}
.logopie .str1 {
  stroke: var(--clr-texto-800);
}
.logopie .fil0 {
  fill: var(--clr-texto-800);
}
.logopie .fil1 {
  fill: var(--clr-accent);
}
.infopie {
  text-align: center;
  display: grid;
  gap: 1rem;
  width: 70%;
  margin: 5vh auto 0;
}
.menupie .nav {
  list-style: none;
  padding: 0;
}
.pie .lema {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.3;
  font-style: italic;
  width: 80%;
  margin: 0 auto;
}
.infopie .rrss {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.infopie .rrss svg {
  fill: var(--clr-accent);
  height: 1.9rem;
}
.infopie .rrss a {
  display: grid;
  place-items: center;
  background: var(--clr-texto-100);
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}
.contacto .doscol {
  display: grid;
  gap: 1rem;
}
.nosotros .imagencabecera,
.contacto .imagencabecera {
  max-height: 60vh;
}
.nosotros .contenido ul {
  display: grid;
  list-style: none;
  padding: 2.5rem;
  max-width: 60ch;
  margin-inline: auto;
  counter-reset: contador-ventaja;
}
.nosotros .contenido ul li {
  counter-increment: contador-ventaja;
  position: relative;
}
.nosotros .contenido ul li::before {
  content: counter(contador-ventaja);
  position: absolute;
  top: 0em;
  left: -0.35em;
  font-size: 5em;
  font-weight: bold;
  opacity: 0.1;
  line-height: 0.5em;
}
.nosotros .contenido ul p {
  max-width: 100%;
  margin: 0;
}
.nosotros .contenido ul strong {
  display: block;
  font-size: 1.4em;
  line-height: 1;
  padding-bottom: 0.3em;
}
.nosotros .contenido ul li + li {
  margin-top: 3em;
}
.eleventy-plugin-youtube-embed {
  margin-block: 2em;
}
.formulario input {
  width: 100%;
  margin: 0 0 0.5rem;
  height: 3rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  line-height: 1.4em;
  padding: 0.3rem 0.75rem;
}
.formulario input:last-of-type {
  margin-bottom: 0;
}
.formulario textarea {
  width: 100%;
  height: 100%;
  margin: 0 0 0.5rem;
  resize: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  line-height: 1.4em;
  padding: 0.3rem 0.75rem;
}
.formulario .legal input {
  width: auto;
  height: auto;
  margin: 0 1rem 0 0;
  vertical-align: middle;
}
.formulario button {
  background: var(--clr-primario);
  color: var(--clr-texto-100);
  padding: 0.5rem 2rem;
  border: 2px solid var(--clr-primario);
  float: right;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}
.formulario button:hover {
  background: var(--clr-texto-100);
  color: var(--clr-primario);
}
.detallesobra .titulo span {
  display: block;
  font-size: 0.5em;
  margin-top: 0.5em;
}
.main-carousel {
  margin-bottom: 10vh;
}
.carousel-cell {
  width: 100%;
}
.obraelegida {
  height: calc(100vh - var(--cabecera-altura-ext));
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  padding: 8vh 0;
  align-items: center;
  animation: aparecer 3s;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.obraelegida .flecha {
  height: 100%;
  display: grid;
  place-content: center;
}
.imagenobraelegida {
  height: 100%;
}
.imagenobraelegida a {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.imagenobraelegida a img {
  transition: filter 500ms;
}
.imagenobraelegida a:hover {
  opacity: 1;
}
.imagenobraelegida a:hover img {
  filter: blur(1px) grayscale(20%);
}
.imagenobraelegida .titulo {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: var(--clr-fondo);
  font-size: var(--fs-3);
  background-color: rgba(0, 0, 0, 0.5);
}
.logopie img {
  max-width: 50%;
  margin-inline: auto;
}
.contenido lite-youtube {
  width: 100%;
  max-width: 70rem;
}
.contenido lite-youtube > iframe {
  margin: 0 !important;
}
.artistadelaexposicion a {
  color: var(--clr-accent);
}
.infoobra {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.infoobra ul {
  list-style: none;
  padding: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
  display: grid;
  gap: 0.5em;
}
.infoobra a {
  color: var(--clr-accent);
  font-weight: normal;
  padding-left: 0.5em;
}

@media screen and (min-width: 50rem) {
  .tituloizq {
    display: flex;
    gap: min(10vw, 8rem);
  }
  .tituloizq .titulo {
    text-align: right;
    min-width: 8ch;
  }
  .tituloizq .contenido {
    flex: 1;
  }
  .infopie {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
  }
  .logopie img {
    max-width: 60%;
    margin-left: 0;
  }
  .listado {
    grid-template-columns: 1fr 1fr;
  }
  .artista .barraizq {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .artista .infoautor {
    align-self: flex-start;
    position: sticky;
    top: calc(var(--cabecera-altura-ext) + 2rem);
  }
  .contacto .doscol {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/* Cookies */

:root {
  --cc-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --cc-font-size: 16px;
  --cc-bg: #fff;
  --cc-z-index: 2147483647;
  --cc-text: #2d4156;
  --cc-border-radius: 0.45rem;
  --cc-btn-primary-bg: #2d4156;
  --cc-btn-primary-text: var(--cc-bg);
  --cc-btn-primary-hover-bg: #1d2e38;
  --cc-btn-primary-hover-text: var(--cc-btn-primary-text);
  --cc-btn-secondary-bg: #eaeff2;
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: #d8e0e6;
  --cc-btn-secondary-hover-text: var(--cc-btn-secondary-text);
  --cc-btn-border-radius: 0.375rem;
  --cc-toggle-bg-off: #919ea6;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: #d5dee2;
  --cc-toggle-knob-bg: #fff;
  --cc-toggle-knob-icon-color: #ecf2fa;
  --cc-block-text: var(--cc-text);
  --cc-cookie-category-block-bg: #f0f4f7;
  --cc-cookie-category-block-bg-hover: #e9eff4;
  --cc-section-border: #f1f3f5;
  --cc-cookie-table-border: #e9edf2;
  --cc-overlay-bg: #040608;
  --cc-overlay-opacity: 0.85;
  --cc-consent-modal-box-shadow: 0 0.625rem 1.875rem rgba(2, 2, 3, 0.28);
  --cc-webkit-scrollbar-bg: #cfd5db;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
}
.c_darkmode {
  --cc-bg: #181b1d;
  --cc-text: #d8e5ea;
  --cc-btn-primary-bg: #a6c4dd;
  --cc-btn-primary-text: #000;
  --cc-btn-primary-hover-bg: #c2dff7;
  --cc-btn-primary-hover-text: var(--cc-btn-primary-text);
  --cc-btn-secondary-bg: #33383c;
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: #3e454a;
  --cc-btn-secondary-hover-text: var(--cc-btn-secondary-text);
  --cc-toggle-bg-off: #667481;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: #454c54;
  --cc-toggle-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-knob-icon-color: var(--cc-bg);
  --cc-block-text: #b3bfc5;
  --cc-cookie-category-block-bg: #23272a;
  --cc-cookie-category-block-bg-hover: #2b3035;
  --cc-section-border: #292d31;
  --cc-cookie-table-border: #2b3035;
  --cc-webkit-scrollbar-bg: #667481;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
}
#cc--main {
  z-index: 2147483647;
  z-index: var(--cc-z-index);
}
.cc_div *,
.cc_div :after,
.cc_div :before,
.cc_div :hover {
  animation: none;
  background: none;
  border: none;
  border-radius: unset;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  float: none;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: normal;
  font-weight: inherit;
  height: auto;
  letter-spacing: unset;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  transition: none;
  vertical-align: baseline;
  visibility: unset;
}
.cc_div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2d4156;
  color: var(--cc-text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-family: var(--cc-font-family);
  font-size: 16px;
  font-size: var(--cc-font-size);
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
#c-ttl,
#s-bl td:before,
#s-ttl,
.cc_div .b-tl,
.cc_div .c-bn {
  font-weight: 600;
}
#cm,
#s-bl .act .b-acc,
#s-inr,
.cc_div .b-tl,
.cc_div .c-bl {
  border-radius: 0.45rem;
  border-radius: var(--cc-border-radius);
}
#s-bl .act .b-acc {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.cc_div a,
.cc_div button,
.cc_div input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
}
.cc_div a {
  border-bottom: 1px solid;
}
.cc_div a:hover {
  border-color: transparent;
  text-decoration: none;
}
.cc_div .c-bn > span {
  pointer-events: none;
}
#cm-ov,
#cs-ov,
.c--anim #cm,
.c--anim #s-cnt,
.c--anim #s-inr {
  transition: visibility 0.25s linear, opacity 0.25s ease, transform 0.25s ease !important;
}
.c--anim .c-bn {
  transition: background-color 0.25s ease !important;
}
.c--anim #cm.bar.slide,
.c--anim #cm.bar.slide + #cm-ov,
.c--anim .bar.slide #s-inr,
.c--anim .bar.slide + #cs-ov {
  transition: visibility 0.4s ease, opacity 0.4s ease, transform 0.4s ease !important;
}
#cm.bar.slide,
.cc_div .bar.slide #s-inr {
  opacity: 1;
  transform: translateX(100%);
}
#cm.bar.top.slide,
.cc_div .bar.left.slide #s-inr {
  opacity: 1;
  transform: translateX(-100%);
}
#cm.slide,
.cc_div .slide #s-inr {
  transform: translateY(1.6em);
}
#cm.top.slide {
  transform: translateY(-1.6em);
}
#cm.bar.slide {
  transform: translateY(100%);
}
#cm.bar.top.slide {
  transform: translateY(-100%);
}
.show--consent .c--anim #cm,
.show--consent .c--anim #cm.bar,
.show--settings .c--anim #s-inr,
.show--settings .c--anim .bar.slide #s-inr {
  opacity: 1;
  transform: scale(1);
  visibility: visible !important;
}
.show--consent .c--anim #cm.box.middle,
.show--consent .c--anim #cm.cloud.middle {
  transform: scale(1) translateY(-50%);
}
.show--settings .c--anim #s-cnt {
  visibility: visible !important;
}
.force--consent.show--consent .c--anim #cm-ov,
.show--settings .c--anim #cs-ov {
  opacity: 0.85 !important;
  opacity: var(--cc-overlay-opacity) !important;
  visibility: visible !important;
}
#cm {
  background: #fff;
  background: var(--cc-bg);
  bottom: 1.25em;
  box-shadow: 0 0.625em 1.875em #000;
  box-shadow: 0 0.625rem 1.875rem rgba(2, 2, 3, 0.28);
  box-shadow: var(--cc-consent-modal-box-shadow);
  font-family: inherit;
  line-height: normal;
  max-width: 24.2em;
  opacity: 0;
  padding: 1em 1.4em 1.3em;
  position: fixed;
  right: 1.25em;
  transform: scale(0.95);
  visibility: hidden;
  width: 100%;
  z-index: 1;
}
#cc_div #cm {
  display: block !important;
}
#c-ttl {
  font-size: 1.05em;
  margin-bottom: 0.7em;
}
.cloud #c-ttl {
  margin-top: -0.15em;
}
#c-txt {
  font-size: 0.9em;
  line-height: 1.5em;
}
.cc_div #c-bns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4em;
}
.cc_div .c-bn {
  background: #eaeff2;
  background: var(--cc-btn-secondary-bg);
  border-radius: 0.375rem;
  border-radius: var(--cc-btn-border-radius);
  color: #2d4156;
  color: var(--cc-btn-secondary-text);
  cursor: pointer;
  display: inline-block;
  flex: 1;
  font-size: 0.82em;
  padding: 1em 1.7em;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#c-bns button + button,
#s-c-bn,
#s-cnt button + button {
  float: right;
  margin-left: 0.5rem;
}
#s-cnt #s-rall-bn {
  float: none;
}
#cm .c_link:active,
#cm .c_link:hover,
#s-c-bn:active,
#s-c-bn:hover,
#s-cnt button + button:active,
#s-cnt button + button:hover {
  background: #d8e0e6;
  background: var(--cc-btn-secondary-hover-bg);
  color: #2d4156;
  color: var(--cc-btn-secondary-hover-text);
}
#s-cnt {
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 101;
}
#s-bl {
  outline: none;
  scrollbar-width: thin;
}
#s-bl .title {
  margin-top: 1.4em;
}
#s-bl .b-bn,
#s-bl .title:first-child {
  margin-top: 0;
}
#s-bl .b-acc .p {
  margin-top: 0;
  padding: 1em;
}
#s-cnt .b-bn .b-tl {
  background: none;
  display: block;
  font-family: inherit;
  font-size: 0.95em;
  padding: 1.3em 6.4em 1.3em 2.7em;
  position: relative;
  transition: background-color 0.25s ease;
  width: 100%;
}
#s-cnt .b-bn .b-tl.exp {
  cursor: pointer;
}
#s-cnt .act .b-bn .b-tl {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#s-cnt .b-bn .b-tl:active,
#s-cnt .b-bn .b-tl:hover {
  background: #e9eff4;
  background: var(--cc-cookie-category-block-bg-hover);
}
#s-bl .b-bn {
  position: relative;
}
#s-bl .c-bl {
  border: 1px solid #f1f3f5;
  border: 1px solid var(--cc-section-border);
  margin-bottom: 0.4rem;
  padding: 1em;
  transition: background-color 0.25s ease;
}
#s-bl .c-bl:hover {
  background: #f0f4f7;
  background: var(--cc-cookie-category-block-bg);
}
#s-bl .c-bl:last-child {
  margin-bottom: 0.5em;
}
#s-bl .c-bl:first-child {
  border: none;
  margin-bottom: 2em;
  margin-top: 0;
  padding: 0;
  transition: none;
}
#s-bl .c-bl:not(.b-ex):first-child:hover {
  background: transparent;
  background: unset;
}
#s-bl .c-bl.b-ex {
  background: #f0f4f7;
  background: var(--cc-cookie-category-block-bg);
  border: none;
  padding: 0;
  transition: none;
}
#s-bl .c-bl.b-ex + .c-bl {
  margin-top: 2em;
}
#s-bl .c-bl.b-ex + .c-bl.b-ex {
  margin-top: 0;
}
#s-bl .c-bl.b-ex:first-child {
  margin-bottom: 1em;
  margin-bottom: 0.5em;
}
#s-bl .b-acc {
  display: none;
  margin-bottom: 0;
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
}
#s-bl .act .b-acc {
  display: block;
  max-height: 100%;
  overflow: hidden;
}
#s-cnt .p {
  color: #2d4156;
  color: var(--cc-block-text);
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: 0.85em;
}
.cc_div .b-tg .c-tgl:disabled {
  cursor: not-allowed;
}
#c-vln {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
#cs {
  bottom: 0;
  left: 0;
  padding: 0 1.7em;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
#cs,
#s-inr {
  height: 100%;
}
#s-inr {
  box-shadow: 0 13px 27px -5px rgba(3, 6, 9, 0.26);
  margin: 0 auto;
  max-width: 45em;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 4.75em;
  padding-top: 4.75em;
  position: relative;
  transform: scale(0.96);
  visibility: hidden;
}
#s-bns,
#s-hdr,
#s-inr {
  background: #fff;
  background: var(--cc-bg);
}
#s-bl {
  display: block;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  padding: 1.3em 1.6em;
  width: 100%;
}
#s-bns {
  border-top: 1px solid #f1f3f5;
  border-top: 1px solid var(--cc-section-border);
  bottom: 0;
  height: 4.75em;
  left: 0;
  padding: 1em 1.8em;
  position: absolute;
  right: 0;
}
.cc_div .cc-link {
  border-bottom: 1px solid #2d4156;
  border-bottom: 1px solid var(--cc-btn-primary-bg);
  color: #2d4156;
  color: var(--cc-btn-primary-bg);
  cursor: pointer;
  display: inline;
  font-weight: 600;
  padding-bottom: 0;
  text-decoration: none;
}
.cc_div .cc-link:active,
.cc_div .cc-link:hover {
  border-color: transparent;
}
#c-bns button:first-child,
#s-bns button:first-child {
  background: #2d4156;
  background: var(--cc-btn-primary-bg);
  color: #fff;
  color: var(--cc-btn-primary-text);
}
#c-bns.swap button:first-child {
  background: #eaeff2;
  background: var(--cc-btn-secondary-bg);
  color: #2d4156;
  color: var(--cc-btn-secondary-text);
}
#c-bns.swap button:last-child {
  background: #2d4156;
  background: var(--cc-btn-primary-bg);
  color: #fff;
  color: var(--cc-btn-primary-text);
}
.cc_div .b-tg .c-tgl:checked ~ .c-tg {
  background: #2d4156;
  background: var(--cc-toggle-bg-on);
}
#c-bns button:first-child:active,
#c-bns button:first-child:hover,
#c-bns.swap button:last-child:active,
#c-bns.swap button:last-child:hover,
#s-bns button:first-child:active,
#s-bns button:first-child:hover {
  background: #1d2e38;
  background: var(--cc-btn-primary-hover-bg);
  color: #fff;
  color: var(--cc-btn-primary-hover-text);
}
#c-bns.swap button:first-child:active,
#c-bns.swap button:first-child:hover {
  background: #d8e0e6;
  background: var(--cc-btn-secondary-hover-bg);
  color: #2d4156;
  color: var(--cc-btn-secondary-hover-text);
}
#s-hdr {
  border-bottom: 1px solid #f1f3f5;
  border-bottom: 1px solid var(--cc-section-border);
  display: table;
  height: 4.75em;
  padding: 0 1.8em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
#s-hdr,
#s-ttl {
  vertical-align: middle;
}
#s-ttl {
  display: table-cell;
  font-size: 1em;
}
#s-c-bn {
  font-size: 1.45em;
  font-weight: 400;
  height: 1.7em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 1.7em;
}
#s-c-bnc {
  display: table-cell;
  vertical-align: middle;
}
.cc_div span.t-lb {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: -1;
}
#c_policy__text {
  height: 31.25em;
  margin-top: 1.25em;
  overflow-y: auto;
}
#c-s-in {
  height: 100%;
  height: calc(100% - 2.5em);
  max-height: 37.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 688px) {
  #s-bl::-webkit-scrollbar {
    background: transparent;
    border-radius: 0 0.25em 0.25em 0;
    height: 100%;
    width: 0.8em;
  }
  #s-bl::-webkit-scrollbar-thumb {
    background: #cfd5db;
    background: var(--cc-webkit-scrollbar-bg);
    border: 0.25em solid #fff;
    border: 0.25em solid var(--cc-bg);
    border-radius: 100em;
  }
  #s-bl::-webkit-scrollbar-thumb:hover {
    background: #9199a0;
    background: var(--cc-webkit-scrollbar-bg-hover);
  }
  #s-bl::-webkit-scrollbar-button {
    height: 5px;
    width: 10px;
  }
}
.cc_div .b-tg {
  bottom: 0;
  display: inline-block;
  margin: auto;
  right: 0;
  right: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.cc_div .b-tg,
.cc_div .b-tg .c-tgl {
  cursor: pointer;
  position: absolute;
  top: 0;
}
.cc_div .b-tg .c-tgl {
  border: 0;
  display: block;
  left: 0;
  margin: 0;
}
.cc_div .b-tg .c-tg {
  background: #919ea6;
  background: var(--cc-toggle-bg-off);
  pointer-events: none;
  position: absolute;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
}
.cc_div .b-tg,
.cc_div .b-tg .c-tg,
.cc_div .b-tg .c-tgl,
.cc_div span.t-lb {
  border-radius: 4em;
  height: 1.5em;
  width: 3.4em;
}
.cc_div .b-tg .c-tg.c-ro {
  cursor: not-allowed;
}
.cc_div .b-tg .c-tgl ~ .c-tg.c-ro {
  background: #d5dee2;
  background: var(--cc-toggle-bg-readonly);
}
.cc_div .b-tg .c-tgl ~ .c-tg.c-ro:after {
  box-shadow: none;
}
.cc_div .b-tg .c-tg:after {
  background: #fff;
  background: var(--cc-toggle-knob-bg);
  border: none;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(24, 32, 35, 0.36);
  box-sizing: content-box;
  content: "";
  display: block;
  height: 1.25em;
  left: 0.125em;
  position: relative;
  top: 0.125em;
  transition: transform 0.25s ease;
  width: 1.25em;
}
.cc_div .b-tg .c-tgl:checked ~ .c-tg:after {
  transform: translateX(1.9em);
}
#s-bl table,
#s-bl td,
#s-bl th {
  border: none;
}
#s-bl tbody tr {
  transition: background-color 0.25s ease;
}
#s-bl tbody tr:hover {
  background: #e9eff4;
  background: var(--cc-cookie-category-block-bg-hover);
}
#s-bl table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
  width: 100%;
}
#s-bl caption {
  border-bottom: 1px solid #e9edf2;
  border-bottom: 1px solid var(--cc-cookie-table-border);
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
#s-bl td,
#s-bl th {
  font-size: 0.8em;
  padding: 0.8em 0.625em 0.8em 1.2em;
  text-align: left;
  vertical-align: top;
}
#s-bl th {
  font-family: inherit;
  font-weight: 600;
  padding: 1em 1rem;
}
#s-bl thead tr:first-child {
  border-bottom: 1px solid #e9edf2;
  border-bottom: 1px solid var(--cc-cookie-table-border);
}
.force--consent #cs,
.force--consent #s-cnt {
  width: 100vw;
}
#cm-ov,
#cs-ov {
  background: #070707;
  background: #040608;
  background: var(--cc-overlay-bg);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: none;
  visibility: hidden;
}
.c--anim #cs-ov,
.force--consent .c--anim #cm-ov,
.force--consent.show--consent #cm-ov,
.show--settings #cs-ov {
  display: block;
}
#cs-ov {
  z-index: 2;
}
.force--consent .cc_div {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  transition: visibility 0.25s linear;
  visibility: hidden;
  width: 100%;
  width: 100vw;
}
.force--consent.show--consent .c--anim .cc_div,
.force--consent.show--settings .c--anim .cc_div {
  visibility: visible;
}
.force--consent #cm {
  position: absolute;
}
.force--consent #cm.bar {
  max-width: 100vw;
  width: 100vw;
}
html.force--consent.show--consent {
  overflow-y: hidden !important;
}
html.force--consent.show--consent,
html.force--consent.show--consent body {
  height: auto !important;
  overflow-x: hidden !important;
}
.cc_div .act .b-bn .exp:before,
.cc_div .b-bn .exp:before {
  border: solid #2d4156;
  border: solid var(--cc-btn-secondary-text);
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  left: 1.2em;
  margin-right: 15px;
  padding: 0.2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.cc_div .act .b-bn .b-tl:before {
  transform: translateY(-20%) rotate(225deg);
}
.cc_div .on-i:before {
  border: solid #ecf2fa;
  border: solid var(--cc-toggle-knob-icon-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  left: 0.75em;
  padding: 0.1em 0.1em 0.45em;
  top: 0.37em;
}
#s-c-bn:after,
#s-c-bn:before,
.cc_div .on-i:before {
  content: "";
  margin: 0 auto;
  position: absolute;
  transform: rotate(45deg);
}
#s-c-bn:after,
#s-c-bn:before {
  background: #2d4156;
  background: var(--cc-btn-secondary-text);
  border-radius: 1em;
  height: 0.6em;
  left: 0.82em;
  top: 0.58em;
  width: 1.5px;
}
#s-c-bn:after {
  transform: rotate(-45deg);
}
.cc_div .off-i,
.cc_div .on-i {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  transition: opacity 0.15s ease;
  width: 50%;
}
.cc_div .on-i {
  left: 0;
  opacity: 0;
}
.cc_div .off-i:after,
.cc_div .off-i:before {
  background: #ecf2fa;
  background: var(--cc-toggle-knob-icon-color);
  content: " ";
  display: block;
  height: 0.7em;
  margin: 0 auto;
  position: absolute;
  right: 0.8em;
  top: 0.42em;
  transform-origin: center;
  width: 0.09375em;
}
.cc_div .off-i:before {
  transform: rotate(45deg);
}
.cc_div .off-i:after {
  transform: rotate(-45deg);
}
.cc_div .b-tg .c-tgl:checked ~ .c-tg .on-i {
  opacity: 1;
}
.cc_div .b-tg .c-tgl:checked ~ .c-tg .off-i {
  opacity: 0;
}
#cm.box.middle,
#cm.cloud.middle {
  bottom: auto;
  top: 50%;
  transform: translateY(-37%);
}
#cm.box.middle.zoom,
#cm.cloud.middle.zoom {
  transform: scale(0.95) translateY(-50%);
}
#cm.box.center,
#cm.cloud {
  left: 1em;
  margin: 0 auto;
  right: 1em;
}
#cm.cloud {
  max-width: 50em;
  overflow: hidden;
  padding: 1.2em 1.7em;
  text-align: center;
  width: unset;
}
.cc_div .cloud #c-inr {
  display: table;
  width: 100%;
}
.cc_div .cloud #c-inr-i {
  display: table-cell;
  padding-right: 2.4em;
  vertical-align: top;
  width: 70%;
}
.cc_div .cloud #c-txt {
  font-size: 0.85em;
}
.cc_div .cloud #c-bns {
  display: table-cell;
  min-width: 170px;
  vertical-align: middle;
}
#cm.cloud .c-bn {
  margin: 0.5rem 0 0;
  width: 100%;
}
#cm.cloud .c-bn:first-child {
  margin: 0;
}
#cm.cloud.left {
  margin-right: 1.25em;
}
#cm.cloud.right {
  margin-left: 1.25em;
}
#cm.bar {
  border-radius: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 2em;
  position: fixed;
  right: 0;
  width: 100%;
}
#cm.bar #c-inr {
  margin: 0 auto;
  max-width: 32em;
}
#cm.bar #c-bns {
  max-width: 33.75em;
}
#cm.bar #cs {
  padding: 0;
}
.cc_div .bar #c-s-in {
  height: 100%;
  max-height: 100%;
  top: 0;
  transform: none;
}
.cc_div .bar #s-bl,
.cc_div .bar #s-bns,
.cc_div .bar #s-hdr {
  padding-left: 1.4em;
  padding-right: 1.4em;
}
.cc_div .bar #cs {
  padding: 0;
}
.cc_div .bar #s-inr {
  border-radius: 0;
  margin: 0 0 0 auto;
  max-width: 32em;
}
.cc_div .bar.left #s-inr {
  margin-left: 0;
  margin-right: auto;
}
.cc_div .bar #s-bl table,
.cc_div .bar #s-bl tbody,
.cc_div .bar #s-bl td,
.cc_div .bar #s-bl th,
.cc_div .bar #s-bl thead,
.cc_div .bar #s-bl tr,
.cc_div .bar #s-cnt {
  display: block;
}
.cc_div .bar #s-bl caption {
  border-bottom: 1px solid #e9edf2;
  border-bottom: 1px solid var(--cc-cookie-table-border);
  border-top: 0;
  display: block;
}
.cc_div .bar #s-bl thead tr {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
.cc_div .bar #s-bl tr {
  border-top: 1px solid #e9edf2;
  border-top: 1px solid var(--cc-cookie-table-border);
}
.cc_div .bar #s-bl td {
  border: none;
  padding-left: 35%;
  position: relative;
}
.cc_div .bar #s-bl td:before {
  color: #2d4156;
  color: var(--cc-text);
  content: attr(data-column);
  left: 1rem;
  overflow: hidden;
  padding-right: 0.625em;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#cm.top {
  bottom: auto;
  top: 1.25em;
}
#cm.left {
  left: 1.25em;
  right: auto;
}
#cm.right {
  left: auto;
  right: 1.25em;
}
#cm.bar.left,
#cm.bar.right {
  left: 0;
  right: 0;
}
#cm.bar.top {
  top: 0;
}
@media (prefers-reduced-motion) {
  #cc--main #cm,
  #cc--main #s-cnt,
  #cc--main #s-inr {
    transition: none !important;
  }
}
@media screen and (max-width: 688px) {
  #cm,
  #cm.cloud,
  #cm.left,
  #cm.right {
    bottom: 1em;
    display: block;
    left: 1em;
    margin: 0;
    max-width: 100%;
    padding: 1.2em !important;
    right: 1em;
    width: auto;
  }
  .force--consent #cm,
  .force--consent #cm.cloud {
    max-width: 100vw;
    width: auto;
  }
  #cm.top {
    bottom: auto;
    top: 1em;
  }
  #cm.bottom {
    bottom: 1em;
    top: auto;
  }
  #cm.bar.bottom {
    bottom: 0;
  }
  #cm.cloud .c-bn {
    font-size: 0.85em;
  }
  #s-bns,
  .cc_div .bar #s-bns {
    padding: 1em 1.3em;
  }
  .cc_div .bar #s-inr {
    max-width: 100%;
    width: 100%;
  }
  .cc_div .cloud #c-inr-i {
    padding-right: 0;
  }
  #cs {
    border-radius: 0;
    padding: 0;
  }
  #c-s-in {
    height: 100%;
    max-height: 100%;
    top: 0;
    transform: none;
  }
  .cc_div .b-tg {
    right: 1.1em;
    transform: scale(1.1);
  }
  #s-inr {
    border-radius: 0;
    margin: 0;
    padding-bottom: 7.9em;
  }
  #s-bns {
    height: 7.9em;
  }
  #s-bl,
  .cc_div .bar #s-bl {
    padding: 1.2em;
  }
  #s-hdr,
  .cc_div .bar #s-hdr {
    padding: 0 1.2em;
  }
  #s-bl table {
    width: 100%;
  }
  #s-inr.bns-t {
    padding-bottom: 10.5em;
  }
  .bns-t #s-bns {
    height: 10.5em;
  }
  .cc_div .bns-t .c-bn {
    font-size: 0.83em;
    padding: 0.9em 1.6em;
  }
  #s-cnt .b-bn .b-tl {
    padding-bottom: 1.2em;
    padding-top: 1.2em;
  }
  #s-bl table,
  #s-bl tbody,
  #s-bl td,
  #s-bl th,
  #s-bl thead,
  #s-bl tr,
  #s-cnt {
    display: block;
  }
  #s-bl caption {
    border-bottom: 0;
    display: block;
  }
  #s-bl thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
  #s-bl tr {
    border-top: 1px solid #e9edf2;
    border-top: 1px solid var(--cc-cookie-table-border);
  }
  #s-bl td {
    border: none;
    padding-left: 35%;
    position: relative;
  }
  #s-bl td:before {
    color: #2d4156;
    color: var(--cc-text);
    content: attr(data-column);
    left: 1rem;
    overflow: hidden;
    padding-right: 0.625em;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #cm .c-bn,
  .cc_div .c-bn {
    margin-right: 0;
    width: 100%;
  }
  #s-cnt #s-rall-bn {
    margin-left: 0;
  }
  .cc_div #c-bns {
    flex-direction: column;
  }
  #c-bns button + button,
  #s-cnt button + button {
    float: unset;
    margin-left: 0;
    margin-top: 0.625em;
  }
  #cm.box,
  #cm.cloud {
    left: 1em;
    right: 1em;
    width: auto;
  }
  #cm.cloud.left,
  #cm.cloud.right {
    margin: 0;
  }
  .cc_div .cloud #c-bns,
  .cc_div .cloud #c-inr,
  .cc_div .cloud #c-inr-i {
    display: block;
    min-width: unset;
    width: auto;
  }
  .cc_div .cloud #c-txt {
    font-size: 0.9em;
  }
  .cc_div .cloud #c-bns {
    margin-top: 1.625em;
  }
}
