<div class="enlace_artistas">
  <div class="contenedor">
    <p class="fs3">Vídeo y fotografía para enriquecer el discurso artístico del escultor y su obra</p>
    <p class="fs2">
      <a class="boton invertido" href="/artistas/">Ver artistas</a>
    </p>
  </div>
</div>