<div class="enlace_artistas">
  <div class="contenedor">
    <p class="fs3">¿Quieres formar parte de nuestra galería de artistas?</p>
    <p class="fs2">
      <a class="boton invertido" href="/contacto/">Contacta con nosotros</a>
    </p>
  </div>
</div>