---
layout: layouts/contenido.njk
titulo: Esculture
---

<div class="introhome">
  <video class="videohome" id="videohome" poster="https://res.cloudinary.com/dasijlpgz/video/upload/v1671352554/web/intro_esculture.jpg" autoplay="" loop="" muted="" playsinline="" preload="auto"  src="https://res.cloudinary.com/dasijlpgz/video/upload/v1671352554/web/intro_esculture.mp4"></video>
  <div class="titulohome">
    <h1 class="fs2">Un acercamiento más personal a la <span class="fs5">escultura</span></h1>
    <a href="#conocenos" class="linkhome"><img src="/assets/images/flecha.svg"></a>
  </div>
</div>

<div class="conocenos">
  <div class="ancla" id="conocenos"></div>
  <div class="contenedor">
    <p class="fs5 marcaagua">Conócenos</p>
    <div class="tituloizq">
      <h2 class="fs4 titulo">Quiénes somos</h2>
      <div class="contenido">
        <p>
          <b>mussa</b> es una nueva aproximación a la disciplina. Se trabaja en alianza con el escultor para hacerte llegar a tí, <b>amante de la escultura</b>, un acercamiento más íntimo de su perfil de creador y de su obra.</p>
        <p class="sabermas">
          <a class="boton" href="/sobre-nosotros/">Saber más</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include "layouts/partials/enlace_artistas.njk" %}