---
layout: layouts/articulo.njk
titulo: Contacta con Mussa
imagen: https://res.cloudinary.com/dasijlpgz/image/upload/v1672162639/web/contacto.jpg
templateClass: contacto
---

<div class="nosotros">
  <div class="contenido">
    <h2>¿Tiene preguntas o está buscando más información sobre Mussa?</h2>
  </div>
</div>
<div class="formulario">
  <br>
  <p>Rellena el formulario con dudas, consultas y tus datos, nos pondremos en contacto lo antes posible. Los campos con asterisco (*) son necesarios para localizarte</p>
  <form enctype="multipart/form-data" action="http://forms.esculture.es/enviar.php/" method="POST" id ="escultureform">
    <div class="doscol">
      <div>
        <input title="Mínimo 3 caracteres" name="nombre" pattern=".{3,}" required="" type="text" placeholder="* Nombre">
        <input title="Mínimo 3 caracteres" name="apellidos" pattern=".{3,}" class="oculto" type="text" placeholder="Apellidos">
        <input title="Formato de email no válido" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required="" type="text" placeholder="* Mail">
        <input name="telefono" type="text" placeholder="Teléfono"></div>
      <div>
        <textarea name="tema" rows="4" placeholder="Tema"></textarea>
      </div>
      <div>
        <div class="legal"><input id="legal" required="" type="checkbox">
          <label for="legal">Acepto la <a href="/politica-de-privacidad" target="_blank" rel="noopener">política de privacidad</a>
          </label>
        </div>
      </div>
      <div class="enviar">
        <input type="hidden" name="secreto" value="US6nUxG8kkYp^K5XQJyz">
        <input type="hidden" name="asunto" value="Contacto desde mussaart.com">
        <button type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>
<div class="contenido">
  <br><br>
  <p>Si lo prefieres puedes escribirnos directamente un email a <a href="mailto:info@mussaart.com">info@mussaart.com</a>
  </p>
</div>