---
layout: layouts/base.njk
titulo: Descubre
templateClass: descubre
---
{% set listado = collections.obras %}
<div id="todaslasobras">
  {%for elemento in listado %}
    <div class="unaobra" data-titulo="{{ elemento.data.titulo }}" data-imagen="{{ elemento.data.imagen }}" data-url="{{ elemento.url }}"></div>
  {% endfor %}
</div>
<div class="contenedor">
  <div class="obraelegida">
    <a class="flecha" href="/descubre">{% include 'icons/fleft.svg' %}</a>
    <div class="imagenobraelegida cubrir"></div>
    <a class="flecha" href="/descubre">{% include 'icons/fdcha.svg' %}</a>
  </div>
</div>

{% include "layouts/partials/enlace_contacto.njk" %}

<script type="text/javascript">
  const todasLasObras = document.querySelectorAll('.unaobra');
  const imagenObraElegida = document.querySelector('.imagenobraelegida');
  let x = Math.floor((Math.random() * todasLasObras.length));
  const titulo = todasLasObras[x].dataset.titulo;
  const imagen = todasLasObras[x].dataset.imagen;
  const url = todasLasObras[x].dataset.url;
  imagenObraElegida.innerHTML = '<a href="' + url + '"><img src="' + imagen + '" alt="' + titulo + '"><span class="titulo">' + titulo + '</a>'
</script>